  .background-video video {
    object-fit: cover;
    position: fixed;
    padding-top: 5%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    width: 20vw;
    height: 20vh;
  }

  .background-video {
    object-fit: cover;
    width: 50vw;
    height: 50vh;
    z-index: -1;
    overflow: hidden;
    position: fixed;
  }