  .background-video video {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
  }

  .background-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    position: fixed;
  }